Repository Lepaya/data-snowflake-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle, mypy

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort --check

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black --check

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8 --max-line-length 120

pydocstyle:
  name: pydocstyle
  stages:
  - commit
  language: system
  entry: pipenv run pydocstyle

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy .
  pass_filenames: false
  args:
  - --ignore-missing-imports

update for v1.1
  README.md
  lepaya_python_snowflakeclient/models/config_model.py
  lepaya_python_snowflakeclient/snowflake_client.py
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

update pipfile
  Pipfile
  Pipfile.lock
Due: none

update version 1.2
  Pipfile
  Pipfile.lock
  README.md
  lepaya_python_snowflakeclient/snowflake_client.py
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

small logging fixes
  lepaya_python_snowflakeclient/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

Update setup.py
  setup.py
Due: isort, black, mypy

update client to run query and logging. change exception class to superclasss DatabaseError
  lepaya_python_snowflakeclient/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

add requirements, update steup,readme,gitignore and add relative imports and sort lines
  .gitignore
  Pipfile
  Pipfile.lock
  README.md
  lepaya_python_snowflakeclient/snowflake_client.py
  requirements.txt
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

update readme
  README.md
Due: none

update requiremesnt,pipfile relative import
  .DS_Store
  Pipfile
  Pipfile.lock
  lepaya_python_snowflakeclient/.DS_Store
  lepaya_python_snowflakeclient/snowflake_client.py
  requirements.txt
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

update gitignore
  .gitignore
Due: none

Delete .DS_Store
  .DS_Store
Due: none

Update README.md
  README.md
Due: none

bug fixes
  lepaya_python_snowflakeclient/helpers/logging_helper.py
  lepaya_python_snowflakeclient/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

remove unneccersy slack dependency
  Pipfile
  Pipfile.lock
  requirements.txt
  setup.py
Due: isort, black, mypy

update requiremnts and setup
  requirements.txt
  setup.py
Due: isort, black, mypy

update requiremnts and setup
  Pipfile.lock
Due: none

update pipfiles
  Pipfile
  Pipfile.lock
Due: none

update pipfiles
  requirements.txt
  setup.py
Due: isort, black, mypy

Update requirements.txt
  requirements.txt
Due: none

update pipfiles
  Pipfile
  Pipfile.lock
  requirements.txt
  setup.py
Due: isort, black, mypy

big fix
  lepaya_python_snowflakeclient/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

add notify for slack
  lepaya_python_snowflakeclient/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

update client to not notify
  lepaya_python_snowflakeclient/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

Delete Pipfile.lock
  Pipfile.lock
Due: none

Update Pipfile
  Pipfile
Due: none

Delete .DS_Store
  lepaya_python_snowflakeclient/.DS_Store
Due: none

add slack client dependency
  requirements.txt
  setup.py
Due: isort, black, mypy

make slack client optional,and fix message structures
  lepaya_python_snowflakeclient/helpers/logging_helper.py
  lepaya_python_snowflakeclient/snowflake_client.py
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

update version in readme
  README.md
Due: none

refactor
  Pipfile
  Pipfile.lock
  data_snowflake_client/__init__.py
  data_snowflake_client/helpers/__init__.py
  data_snowflake_client/helpers/logging_helper.py
  data_snowflake_client/models/__init__.py
  data_snowflake_client/models/config_model.py
  data_snowflake_client/snowflake_client.py
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

update dependencies
  requirements.txt
  setup.py
Due: isort, black, mypy

update loggING
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  pydocstyle: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
