Repository Lepaya/data-snowflake-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: pipenv run isort --check
    types: [python]

  - id: black
    name: black
    stages: [ commit ]
    language: system
    entry: pipenv run black --check
    types: [ python ]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8 --max-line-length 120
    types: [python]
    exclude: setup.py

  - id: pydocstyle
    name: pydocstyle
    stages: [commit]
    language: system
    entry: pipenv run pydocstyle
    types: [python]
    exclude: setup.py

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry: pipenv run mypy .
    types: [python]
    pass_filenames: false
    args: [--ignore-missing-imports]

#      - id: pytest
#        name: pytest
#        stages: [ commit ]
#        language: system
#        entry: pipenv run pytest
#        types: [ python ]
#
#      - id: pytest-cov
#        name: pytest
#        stages: [ push ]
#        language: system
#        entry: pipenv run pytest --cov --cov-fail-under=100
#        types: [ python ]
#        pass_filenames: false


- repo: https://github.com/sourcery-ai/sourcery
  rev: v1.0.4
  hooks:
    # refer to https://docs.sourcery.ai/Product/Troubleshooting/ to fix errors
    - id: sourcery
      # The best way to use Sourcery in a pre-commit hook:
      # * review only changed lines:
      # * omit the summary
      args: [--diff=git diff HEAD, --no-summary]

Update README.md
  README.md
Due: none

update slack client to v3.0 and package version to v3.3
  Pipfile
  Pipfile.lock
  README.md
  setup.py
Due: isort, black, mypy

update pipfile lock
  Pipfile.lock
Due: none

update pre-commit config
  .pre-commit-config.yaml
Due: none

update pandas and pyarrow and slack client version
  Pipfile
  Pipfile.lock
Due: none

update package version
  README.md
  setup.py
Due: isort, black, mypy

add ci
  .github/workflows/ci.yaml
Due: none

add ci tests
  .github/workflows/run-tests.yaml
Due: none

update client- add validate schema : NOT ACTIVE RN
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

FIX LINTING
  data_snowflake_client/models/config_model.py
Due: isort, black, flake8, pydocstyle, mypy

update tests
  tests/integration/test_snowflake_client.py
  tests/unit/test_snowflake_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

add functionality to validate schema and add columns with dtype in necessary: tested
  data_snowflake_client/snowflake_client.py
  tests/integration/test_snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

update dependencies
  setup.py
Due: isort, black, mypy

fix pipfile lock
  Pipfile.lock
Due: none

fix temp message
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

add updated dependencies
  Pipfile
  Pipfile.lock
Due: none

update version to 5.0
  README.md
Due: none

update setup version
  setup.py
Due: isort, black, mypy

remove password: add rsa private key
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

add init
  data_snowflake_client/__init__.py
Due: isort, black, flake8, pydocstyle, mypy

add init
  data_snowflake_client/helpers/__init__.py
  data_snowflake_client/helpers/logging_helper.py
  data_snowflake_client/models/__init__.py
  data_snowflake_client/utils/__init__.py
Due: isort, black, flake8, pydocstyle, mypy

update config model
  data_snowflake_client/models/config_model.py
Due: isort, black, flake8, pydocstyle, mypy

add encoding util
  data_snowflake_client/utils/encoding.py
Due: isort, black, flake8, pydocstyle, mypy

update logger
  data_snowflake_client/utils/logger.py
Due: isort, black, flake8, pydocstyle, mypy

add tests updated
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/configs/__init__.py
  tests/integration/configs/config.yml
  tests/unit/__init__.py
  tests/unit/test_snowflake_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

fix pre-commit
  data_snowflake_client/utils/__init__.py
  data_snowflake_client/utils/encoding.py
Due: isort, black, flake8, pydocstyle, mypy

ADD snowflake private key to ci
  .github/workflows/ci.yaml
Due: none

update readme
  README.md
Due: none

update and fix pre--commit
  .pre-commit-config.yaml
  data_snowflake_client/snowflake_client.py
  tests/integration/configs/config_loader.py
  tests/integration/test_snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

fix ci name
  .github/workflows/ci.yaml
Due: none

fix bug: check if table exists before validating schema
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

add test for check if table exists
  tests/integration/test_snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

update version number
  README.md
  setup.py
Due: isort, black, mypy

Ensure test tables never collide
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

Specify table differently
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

make slackclient relative to use lates version ie main
  Pipfile
  Pipfile.lock
Due: none

remove release branches and use main
  README.md
  setup.py
Due: isort, black, mypy

update version
  README.md
  setup.py
Due: isort, black, mypy

fix cryptography dependabot error
  Pipfile
  Pipfile.lock
Due: none
