Repository Lepaya/data-snowflake-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: pipenv run isort --check
    types: [python]

  - id: black
    name: black
    stages: [ commit ]
    language: system
    entry: pipenv run black --check
    types: [ python ]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8 --max-line-length 120
    types: [python]
    exclude: setup.py

  - id: pydocstyle
    name: pydocstyle
    stages: [commit]
    language: system
    entry: pipenv run pydocstyle
    types: [python]
    exclude: setup.py

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry: pipenv run mypy .
    types: [python]
    pass_filenames: false
    args: [--ignore-missing-imports]

#      - id: pytest
#        name: pytest
#        stages: [ commit ]
#        language: system
#        entry: pipenv run pytest
#        types: [ python ]
#
#      - id: pytest-cov
#        name: pytest
#        stages: [ push ]
#        language: system
#        entry: pipenv run pytest --cov --cov-fail-under=100
#        types: [ python ]
#        pass_filenames: false


- repo: https://github.com/sourcery-ai/sourcery
  rev: v1.0.4
  hooks:
    # refer to https://docs.sourcery.ai/Product/Troubleshooting/ to fix errors
    - id: sourcery
      # The best way to use Sourcery in a pre-commit hook:
      # * review only changed lines:
      # * omit the summary
      args: [--diff=git diff HEAD, --no-summary]

optimize imports
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

update version
  README.md
  setup.py
Due: isort, black, mypy

bug fix
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

added option to use a specific role and warehouse, and specify whether you want to quote identifiers
  data_snowflake_client/models/config_model.py
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

Update README.md
  README.md
Due: none

Update snowflake_client.py
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

Update setup.py
  setup.py
Due: isort, black, mypy

- fix bug DELETE query - slack client v1.3
  Pipfile
  Pipfile.lock
  README.md
  data_snowflake_client/helpers/logging_helper.py
  data_snowflake_client/snowflake_client.py
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

Update requirements.txt
  requirements.txt
Due: none

Update version of snowflake connector to 3.5 and fix openssl libcrypto error
  Pipfile
  Pipfile.lock
Due: none

update load_dataframe function to return results of the load if no errors were raised
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

add unit test class for the client
  tests/test_snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

update requirements.txt and setup.py dependencies versions
  requirements.txt
  setup.py
Due: isort, black, mypy

update client version to 2.0
  setup.py
Due: isort, black, mypy

update README.md
  README.md
Due: none

update dependencies to fix dependabot alert - pyarrow update to 14.0.2
  Pipfile
  Pipfile.lock
Due: none

update package internal requirements and update to v2.1
  README.md
  requirements.txt
  setup.py
Due: isort, black, mypy

Update Pipfile
  Pipfile
Due: none

add unit test
  tests/unit/test_snowflake_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

add integration test
  tests/integration/test_snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

update setup.py to v3.0
  setup.py
Due: isort, black, mypy

add ci cd to run tests on push to release-*
  .github/workflows/run-tests.yaml
Due: none

remove requirements txt which is not needed
  requirements.txt
Due: none

update readme to v3.0
  README.md
Due: none

add config files to run integration tests
  data_snowflake_client/models/config_model.py
  tests/integration/configs/config.yml
  tests/integration/configs/config_loader.py
Due: isort, black, flake8, pydocstyle, mypy

add package init files
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/configs/__init__.py
  tests/unit/__init__.py
Due: isort, black, flake8, pydocstyle, mypy

add updated pipfiles
  Pipfile
Due: none

add updated pipfiles
  Pipfile.lock
Due: none

add pyyaml dependency
  Pipfile
  Pipfile.lock
Due: none

update run_query log message
  data_snowflake_client/snowflake_client.py
Due: isort, black, flake8, pydocstyle, mypy

update slack client version
  Pipfile
  Pipfile.lock
Due: none

update package version
  README.md
  setup.py
Due: isort, black, mypy

update slack client version to v2.2 and update gitignore
  .gitignore
  Pipfile
  Pipfile.lock
Due: none
